@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup {
    padding: 5rem 35rem;

    &__btn {
        background-color: $primary-color-dark;
        color: $primary-color-light;
        border-radius: 0.625rem;

        padding: 0.5rem 1rem;
        margin-top: 3rem;
        width: 40%;

        border: none;
        cursor: pointer;

        &:hover {
            background-color: $tertiary-color;
            outline: 0.0625rem solid $primary-color-dark;
        }
    }
}
