@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.new-account {
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__label {
        margin-bottom: 0.25rem;
    }

    &__input {
        border: 0.0625rem solid $tertiary-color;
        color: $primary-color-dark;
        font-family: $primary-font;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        padding: 0.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__btn {
        align-self: flex-end;
    }
}
