@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.new-account {
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__input {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__btn {
        align-self: flex-end;
    }
}
